<md-dialog aria-label="Formulário Anel" ng-init="ring = vm.row">

		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 ng-if="ring.name">#{{ring.name}}</h2>
				<h2 ng-if="!ring.name">Novo Anel</h2>
				<span flex></span>
				<md-button  aria-label="fechar" class="md-icon-button" ng-click="vm.cancel(ring)">
					<md-icon>close</md-icon>
				</md-button>
				<md-tooltip md-direction="right">
					Fechar
				</md-tooltip>
			</div>
		</md-toolbar>
		
		<md-dialog-content layout-padding>
			<div class="md-dialog-content" layout="column">
			
				<div layout="row" ng-if="vm.loading" layout-align="center center" >
					<md-progress-circular md-mode="indeterminate" ng-if="vm.loading"></md-progress-circular>
				</div>
				
				<div layout="row">
					<div layout="column">
						<div layout="row">
							
							<!-- ring.name -->
							<md-input-container class="md-block" flex-gt-sm>
								<label>Nome</label>
								<input required name="name" ng-model="ring.name" aria-label="nome"/>
								<div class="hint">Exemplo: GNA-E27</div>
							</md-input-container>
						</div>
						<div layout="row">
							<!-- ring.capacity -->
							<capacity-input model="ring.capacity" layout="row" flex></capacity-input>
						</div>
						<md-divider></md-divider>
					
						<div layout="row">
						
							<!-- ring.headend-->
							<md-card>
								<md-card-content layout="column" layout-align="center center">
									<h4>Headend</h4>
									<element-network-input model="ring.headend" ></element-network-input>
									
								</md-card-content>
							</md-card><!-- ring.headend-->
			
							<!-- ring.collect -->
							<md-card>
								<md-card-content layout="column" layout-align="center center">
									<h4>Concentrador</h4>
									<element-network-input model="ring.collect"></element-network-input>
								</md-card-content>
							</md-card><!-- ring.collect -->
							
						</div>
						
					</div>
					
					<md-divider></md-divider>
					
					<!-- ring.gabnets-->
					<md-card>
						<md-card-content layout="column" layout-align="center center">
							<h4>Armários</h4>
							<element-network-manage ring="ring" ></element-network-manage>
							
						</md-card-content>
					</md-card><!-- ring.gabnets-->
					
					
					
					<md-divider></md-divider>
				</div>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button 
				class="md-icon-button"  
				aria-label="salvar" 
				ng-click="vm.answer(ring)">
				<md-icon> done </md-icon>
				<md-tooltip md-direction="left">
					Salvar
				</md-tooltip>
			</md-button>
			<md-button 
				class="md-icon-button"  
				aria-label="salvar" 
				ng-click="vm.cancel(ring)">
				<md-icon> cancel </md-icon>
				<md-tooltip md-direction="right">
					Cancelar
				</md-tooltip>
			</md-button>
		</md-dialog-actions>

</md-dialog>