	<div flex>
		<md-card>
			<md-card-title>
				<md-card-title-text layout="row">
					
					<h3>Gerenciar Anéis</h3>
					
					<div flex></div>
					
					<md-input-container>
						<label>Filtrar todos os campos</label>
						<input ng-model="vm.filter" aria-label="Filtrar todos os campos">
					</md-input-container>
					
				</md-card-title-text>
			</md-card-title>
					
			<md-card-content layout="column" flex >
				
				<div layout="row" ng-if="vm.loading" layout-align="center center" >
					<md-progress-circular md-mode="indeterminate" ng-if="vm.loading"></md-progress-circular>
				</div>
				
				<div flex layout="row" layout-align="center center">
						<div flex layout="column" layout-align="center center" >
							<md-button 
								class="md-raised md-primary"
								ng-click="vm.create($event)" 
								aria-label="cadastrar anel">
								Cadastrar Anel
							</md-button>
						</div>
						
				</div>
				
				<div flex>
					 <md-fab-toolbar 
						md-open="vm.fab_toolbar_open"
						md-direction="left">
						
						<md-fab-trigger class="align-with-text">
							<md-button aria-label="menu" class="md-fab md-primary">
								<md-icon>menu</md-icon>
								<md-tooltip md-direction="left">
									Exportar Tabela
								</md-tooltip>
							</md-button>
						</md-fab-trigger>

						<md-toolbar>
							<md-fab-actions class="md-toolbar-tools">
								<table-toolbar
									headers="vm.headers"
									data="vm.list.data"  
									tablename="Capacity Anéis">
								</table-toolbar>
							</md-fab-actions>
						</md-toolbar>
					</md-fab-toolbar>
					<md-table-container>
					  <table  class="main_table">
						<thead>
							<tr >
								<th  ></th>
								<th  ></th>
								<th  colspan="2" class="detached_column">Armários</th>
								
								<th  colspan="2" class="detached_column_accent">Concentrador</th>
								
								<th  colspan="2"  class="detached_column">Headend</th>
								
								<th ></hr>
							</tr>
						</thead>
						<thead  >
							<tr >
								<th >
										<order-button field="ring_name" pagename="{{vm.pagename}}"></order-button>
										<md-input-container>
											<label>Anel</label>
											<input ng-model="vm.filter_obj.ring_name" aria-label="Anel"/>
										</md-input-container>
								</th>
								
								<th  class="long_cell">
										<order-button field="capacity" pagename="{{vm.pagename}}"></order-button>
										<md-input-container>
											<label>Capacidade/VC4</label>
											<input ng-model="vm.filter_obj.capacity" aria-label="Capacidade/VC4"/>
										</md-input-container>
								</th>
								
								<th   class="detached_column">
										<order-button field="gabnet_name" pagename="{{vm.pagename}}"></order-button>
										<md-input-container>
											<label>Armário(s)</label>
											<input ng-model="vm.filter_obj.gabnet_name" aria-label="Armário(s)"/>
										</md-input-container>
								</th>
								
								<th   class="detached_column">
										<order-button field="gabnet_vendor" pagename="{{vm.pagename}}"></order-button>
										<md-input-container>
											<label>Fabricante</label>
											<input ng-model="vm.filter_obj.gabnet_vendor" aria-label="Fabricante"/>
										</md-input-container>
								</th>
								
								<th  class="detached_column_accent">
										<order-button field="collect_name" pagename="{{vm.pagename}}"></order-button>
										<md-input-container>
											<label>Concentrador</label>
											<input ng-model="vm.filter_obj.collect_name" aria-label="Concentrador"/>
										</md-input-container>
								</th>
								
								<th  class="detached_column_accent">
										<order-button field="collect_vendor" pagename="{{vm.pagename}}"></order-button>
										<md-input-container>
											<label>Fabricante</label>
											<input ng-model="vm.filter_obj.collect_vendor" aria-label="Fabricante"/>
										</md-input-container>
								</th>
								
								<th   class="detached_column">
										<order-button field="headend_name" pagename="{{vm.pagename}}"></order-button>
										<md-input-container>
											<label>Headend</label>
											<input ng-model="vm.filter_obj.headend_name" aria-label="Headend"/>
										</md-input-container>
								</th>
								<th   class="detached_column">
										<order-button field="headend_vendor" pagename="{{vm.pagename}}"></order-button>
										<md-input-container>
											<label>Fabricante</label>
											<input ng-model="vm.filter_obj.headend_vendor" aria-label="Fabricante"/>
										</md-input-container>
								</th>
								
								
								<th >Ações</th>
							</tr>
						</thead>
						<tbody>
						  <tr 
							 
							ng-repeat="row in vm.list.data |
										filter: vm.filter |
										filter: vm.filter_obj |
										orderBy: vm.orderBy.order(vm.pagename) |
										limitTo: vm.list.limit : (vm.list.page -1) * vm.list.limit"
							><!-- md-auto-select  | filter: filter.search   | orderBy: query.order-->
							<td >
								<md-button 
									aria-label="Expandir"
									ng-click="vm.toChart($event, row.ring_name);">
									{{row.ring_name}}
									<md-icon> expand_more </md-icon>
									<md-tooltip md-direction="left">
										Visualizar Gráficos
									</md-tooltip>
								</md-button>
							</td>
							
							<td  class="long_cell">	
								{{row.capacity}}							
							</td>
							
							<td   class="detached_column">
									{{row.gabnet_name}}
							</td>
							<td   class="detached_column">
									{{row.gabnet_vendor}}
							</td>
							
							<td  class="detached_column_accent">
								{{row.collect_name}}
							</td>
							
							<td  class="detached_column_accent">
								{{row.collect_vendor}}
							</td>
							
							<td  class="detached_column">
									{{row.headend_name}}
							</td>
							<td  class="detached_column">
									{{row.headend_vendor}}
							</td>
							<td  layout="row">
								
								<md-button 
									class="md-icon-button" 
									aria-label="Editar" 
									ng-click="vm.edit($event, row)">
										<md-icon> edit </md-icon>
										<md-tooltip md-direction="left">
											Editar
										</md-tooltip>
								</md-button>
								<!--<md-button 
									class="md-icon-button" 
									aria-label="Deletar"
									ng-click="vm.remove($event, row)">
										<md-icon> delete </md-icon>
										<md-tooltip md-direction="left">
											Deletar
										</md-tooltip>
								</md-button>-->
								
								<md-button 
									class="md-icon-button" 
									ng-if="!row.enabled"
									aria-label="Ativar"
									ng-click="vm.enable($event, row)">
										<md-icon> check_box_outline_blank </md-icon>
										<md-tooltip md-direction="left">
											Ativar
										</md-tooltip>
								</md-button>
								
								<md-button
									class="md-icon-button" 
									ng-if="row.enabled"
									aria-label="Desativar"
									ng-click="vm.disable($event, row)">
										<md-icon> check_box </md-icon>
										<md-tooltip md-direction="left">
											Desativar
										</md-tooltip>
								</md-button>
								
								
							</td>
						  </tr>
						</tbody>
					  </table>
					</md-table-container>
					<md-table-pagination 
						md-limit="vm.list.limit" 
						md-limit-options="[10, 25, 50, 100]" 
						md-page="vm.list.page" 
						md-total="{{vm.list.data.length}}"
						md-page-select
						md-label="{{vm.pagination.mdLabel}}">
					</md-table-pagination>
					<!-- md-on-paginate=""  -->
				</div>				
				
			</md-card-content>
               
		</md-card>
	</div>