	<div layout="column" layout-margin flex >
	<style>
		.last{
			border-top-style: solid;
			border-top-color: gray;
			border-top-width: 1px;
		}
	</style>
		<md-content layout="row" ng-if="vm.loading" layout-align="center center" >
			<md-progress-circular md-mode="indeterminate" ng-if="vm.loading"></md-progress-circular>
		</md-content>
	
		<md-card>
			<md-card-title  layout="column" layout-align="center center" >
				<md-card-title-text>
					<h3>Anéis</h3>
				</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row" layout-padding >
					
					<div flex="60" layout="row" layout-padding>
						<!-- Gráfico -->
						
						<hc-pie-chart title="Anéis" filename="Status Anéis" data="vm.by_ring_chart">Placeholder for pie chart</hc-pie-chart>
					</div><!-- coluna -->
					<div flex="5"></div>
					<div flex>
						<!-- Tabela -->
						 <md-list>
							<md-list-item layout="row">
									<div flex>
										<h4>N° de Anéis</h4>
									</div>
									<div flex>
										<h4>Fabricante</h4>
									</div>
								<md-divider ></md-divider>
							</md-list-item>
							
							<md-list-item
								ng-class="{'first': $first, 'last': $last}"
								ng-repeat="row in vm.by_ring_table track by $index" 
								layout="row">
										<div flex>
											{{row.count}}
										</div>
										<div flex>
											{{row.vendor}}
										</div>
								</md-list-item>
							
						</md-list>
					</div><!-- coluna -->
				</md-card-content>   
		</md-card>

		<md-card>
			<md-card-title  layout="column" layout-align="center center" >
				<md-card-title-text>
					<h3>Armários</h3>
				</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row"  layout-padding>
					<div flex="60" layout="row" layout-padding>
						<!-- Gráfico -->
						<hc-pie-chart title="Armários" filename="Status Armários"  data="vm.by_gabnet_chart">Placeholder for pie chart</hc-pie-chart>
					</div><!-- coluna -->
					<div flex="5"></div>
					
					<div flex>
						<!-- Tabela -->
						 <md-list>
							<md-list-item layout="row">
									<div flex>
										<h4>N° de Armários</h4>
									</div>
										
									<div flex>
										<h4>Fabricante</h4>
									</div>
							</md-list-item>
							
							<md-list-item
								ng-class="{'first': $first, 'last': $last}"
								ng-repeat="row in vm.by_gabnet_table" 
								layout="row">
									
										<div flex>
											{{row.count}}
										</div>
										
										<div flex>
											{{row.vendor}}
										</div>
							</md-list-item>
						</md-list>
					</div><!-- coluna -->
					
			</md-card-content>   
		</md-card>
</div>

